body
{
text-align: center;
background-color:white;
color: black;

font: 150% sans-serif;
}
h1           
{ 
border: '1pt solid black'
}
h2
{
border: '1pt solid black'
}

h3
{
border: '1pt solid black'
}

p
{
border: '1pt solid black'
}

footer
{
text-align:align;
font: 60% sans-serif;
}
